################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UwpClassLibrary/.vs/UwpClassLibrary/v15
